#nav_main{
    height: 8vh;
    margin-left: 0.5vw;
    margin-top: 1vh;
    border-radius: 10px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;

    background-color: #111;
    color: white;
    display: flex; 
    align-items: center;
}
nav .nav2{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    gap: 2vw;
}
button{
    display: flex;
    margin-right: 2vw;
    background-color: #111;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.5vw;
    cursor: pointer;
}
#page1{
    height: 100vh;
    width: 100%;

    background-color: #111;
    color: grey;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    margin: 0;
    padding: 0;
    font-size: 4vw;
    line-height: 3.5vw;
    
}
#page1 .features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#page1 .features h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1em sans-serif;

    height: 10px;
    border: white solid 0.5px;
    border-radius: 50px;
    margin: 2px;
    padding : 10px 20px;
}
