#page1{
    height: 100vh;
    width: 100%;

    background-color: #111;
    color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    margin: 0;
    padding: 0;
    font-size: 4vw;
    line-height: 3.5vw;
    
}
#page1 .features{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#page1 .features h4{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10px;
    border: white solid 0.5px;
    border-radius: 50px;
    margin: 2px;
    padding : 10px 20px;
}
